<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <h1>URL Shortner</h1>
      <div>
            <form method="POST" action="/url">
                  <label for="">Enter URL</label>
                  <input type="text" name="url" placeholder="example.com">
                  <button type="submit">Generate</button>
            </form>
      </div>
      <% if (locals.id) { %>
            <a href="http://localhost:8000/url/<%=id%>">http://localhost:8000/url/<%=id%></a>
      <% } %>
</body>
</html>